/* Basic Styles */
* {
    background-color: pink;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    height: 10vh;
    background-color: rgb(160, 8, 160);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    text-align: center;
}
#head {
    margin-bottom: 1rem;
    background-color: rgb(160, 8, 160);
    font-size: 2rem;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.box
{
    color : red;
    border-color: aliceblue;
}
.handle {
    display: flex;
    gap: 1rem;
}
button {
    height: 15vh;
    width: 15vh;
    border: none;
    font-size: 2rem;
    border: 2px solid ;
}
#messagebox
{
    background-color: white ;
    height: 5vh;
    width: 40vh;
    border-radius: 50px;
    font-size:3vh;
    color: black;
    border: 2px solid rgb(160, 8, 160);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
#replay
{
    background-color: rgb(160, 8, 160);
    height: 5vh;
    border-radius: 50px;
    border: none;
    margin-top: -5vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2.5vh;
}
/* Responsive Styles */
@media (max-width: 768px) {
    #container {
        font-size: 1.5rem;
    }
    button {
        height: 12vh;
        width: 12vh;
    }
}
@media (max-width: 480px) {
    #container {
        font-size: 1.2rem;
    }
    button {
        height: 10vh;
        width: 10vh;
    }
}
